@tailwind preflight;
@tailwind components;
@tailwind utilities;

.app-bg {
  background: linear-gradient(0deg, rgba(255,166,196,1) 0%, rgba(164,217,217,1) 100%);
}

.mask {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.transy-0 {
  transform: translate3d(0, 100%, 0);
}

.transy-1 {
  transform: translate3d(0, 75%, 0);
}

.transy-2 {
  transform: translate3d(0, 50%, 0);
}

.transy-3 {
  transform: translate3d(0, 25%, 0);
}

.transy-4 {
  transform: translate3d(0, 0%, 0);
}

.ease-transform {
  transition: transform 0.6s ease-in-out;
}

.run-animation .circle {
  animation: 1.75s circleDraw forwards;
}
.run-animation .checkmark {
  animation: 0.75s checkmarkDraw forwards;
  animation-delay: 1s;
}

@keyframes circleDraw {
  from {
    stroke-dashoffset: 700;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes checkmarkDraw {
  from {
    stroke-dashoffset: 150;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
